*{
	margin: 0px;
	padding: 0px;
	font-family: 'Yomogi', cursive;
}

body{background-color: #b4cce4;}

header{
	height: 100vh;
	background-image: url(background.png);
	background-size: contain;
}
header h1{
	color: #fff;
}
header .top{
	background-color: rgba(255,255,255,0.7);
	width: 50%;
	height: 50vh;
	margin:  0 auto;
	position: absolute; 
	top:  25%;
	bottom:  0;
	left:  0;
	right:  0;
}
header a{
	color: #00f;
}
header a:hover{
	color: #f00;
}

.top{
	font-size: 1.5em;
	text-align: center;
	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}
.top li{
	list-style-type: none;
}
a{
	width: 100%;
	text-decoration: none;
}
h1{
	font-size: 5em;
	margin: 0;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 2em;
}
div{
	padding: 0px 10px 10px 15px;
	margin: 0px 10px 10px 5px;;
}
#bgm{
	margin:5px;
}

.contents{
	color: #fff;
	background-color: #182142;
	border:solid;
	border-width: 4px;
	border-color: #f3b23a;
	margin: 15px 20em 15px 15px;
}
.contents h3{
	font-size: 1.5em;
}
#stage{
	padding: 15px
	margin:5px;
}
#stage table{
	border-collapse:  collapse; 7
	border-width: 1px;
	border-color: #000;
}
#stage th,td{
	padding: 10px
}
#stage th{
	background-color: #444;
	padding: 1.25em;
	font-size: 1.25em;
	color: #ccc;
}
#stage .ba{
	background-color: #006400;
	color:#fff;
	text-align: center;
}
#stage .ad{
	background-color: #ff4500;
	color:#fff;
	text-align: center;
}
#stage .ex{
	background-color: #800000;
	color:#fff;
	text-align: center;
}
#stage .ma{
	background-color: #800080;
	color:#fff;
	text-align: center;
}
#stage .we{
	background-color: #010101;
	color:#fff;
	text-align: center;
}
#stage .an{
	background-color: #e6e6fa;
	color:#4b0082;
	text-align: center;
}

#stage td{
	background-color: #ddd;
	color: #000;
}
#stage a{
	font-weight: bold;
}
#stage .ni{
	font-size: 1.25em;
	text-align: center;
}
#stage .ni img{
	width: 160px;
	height: 120px;
}
article{
	width: 80%;
	padding: 15px
}